/node/.idea
/node/mongoose/node_modules
/node/express/node_modules
/node/express/13_ExpressGenerator/node_modules
/node/express/Bookkeeping/node_modules

.idea
/ecmascript/ecmascript6/17_Promise/node_modules
/ecmascript/ecmascript6/17_Promise/package-lock.json
/ecmascript/ecmascript6/17_Promise/package.json

